{% extends 'layout.html' %}
{% block body %} 
<center>
<br><br><br><br>
<button onclick="window.location.href='/chord/viewchord';">View Chords</button>
<button onclick="window.location.href = '/chord/addchord';">Add Chord</button>
<button onclick="window.location.href = '/chord/deletechord';">Delete Chord</button>
<button onclick="window.location.href = '/chord/searchchord';">Search Chords</button>
<button onclick="window.location.href = '/chord/editchord';">Edit Chords</button>
</center>
{% endblock %}