{% extends 'layout.html' %}

{% block body %} 
<br><br><br><br>
<center>
    <H1>Enter Song Details </H1> <br>
    <form method="POST" action="{{ url_for('searchsong2') }}">
    Song Name<br><input type = "text" name= "songName" /> <br><br>
    <button class ='fivebuttons' onclick="window.location.href = '/song/searchsong/2';">Search Songs</button>
</form>
<H3>{{name}}</H3>
{% for i in info1 %}
    <li>
        <a>{{ i[0] }}</a>
        <a>{{ i[1] }}</a>
    </li>
{% endfor %}
</center>
{% endblock %}