{% extends 'layout.html' %}
{% block body %} 
<center>
<br><br><br><br>
<button class ='fivebuttons' onclick="window.location.href='/song/viewsong';">View Songs</button>
<button class ='fivebuttons' onclick="window.location.href = '/song/addsong';">Add Song</button>
<button class ='fivebuttons' onclick="window.location.href = '/song/deletesong';">Delete Song</button>
<button class ='fivebuttons' onclick="window.location.href = '/song/searchsong';">Search Songs</button>
<button class ='fivebuttons' onclick="window.location.href = '/song/editsong';">Edit Songs</button>
</center>
{% endblock %}